.itemImg {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.delete {
    height: 100px;
    width: 250px;
}

p {
    margin: 0;
}

.cart-container {
    position: fixed;
    top: 120px;
    right: -20%;
    width: 15%;
    height: 100%;
    background-color: white;
    transition: right 0.3s ease-in-out;
    z-index: 5;
}
  
.cart-content {
    padding: 20px;
    height: 100%;
    overflow-y: auto;
}
  
.cart-visible {
    right: 0;
}

.carrito {
    background-color: #5f0f40;
    color: white;
    box-shadow: 0px 5px 22px 0px rgba(0,0,0,0.3);
}